<!-- JS -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.localScroll.min.js"></script>
<script src="/js/jquery.viewport.mini.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/morphext.js"></script>
<script src="/js/typed.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/contact-form.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/objectFitPolyfill.min.js"></script>
<script src="/js/splitting.min.js"></script>